.h-entry .published {
    color: #B5B5B5;
}

.post-list-title {
    padding-left: 10px;
}

.tagpage header {
    padding-bottom: 10px;
}

.post-text h2 {
    border-bottom: 1px solid #555753;
    margin-top: 30px;
}

.headerlink {
    display: inline-block;
    float: right;
}

.anchor-link {
    display: none;
}

.previewimage {
    display: block;
    margin: 40px auto;
}

table, table.dataframe {
    margin-top: 16px;
    margin-bottom: 16px;
    border-collapse: collapse;
    border: none;
}
th, td,  {
    border: none;
    border-bottom: 1px solid #555753;
}
table.dataframe thead th {
    text-align: left;
    border-bottom: 3px solid #555753;
}
table.dataframe th, table.dataframe td {
    border: none;
    padding: 6px 12px;
    margin: 6px 2px 2px;
    border-bottom: 1px solid #555753;
}
td > p {
    margin: 6px 2px 2px;
}
tr:hover, table.dataframe tr:hover {
    background-color: #2E3436;
} 

blockquote {
    background-color: #2F3638;
    border-left: 3px solid #B5B5B5;
    padding: 2px 17px;
    margin-left: -20px;
    margin-right: -17px;
    font-style: italic;
}

blockquote > table p {
    font-style: normal;
}

div.admonition {
    background-color: #2F3638;
    color: #FFFFFF;
    margin: 0;
}
div.admonition p.admonition-title {
    margin: 0;
    padding: 0 18px;
    padding-top: 10px;
}

img.whitebg {
    background-color: #FFFFFF;
}

table.full-width {
    width: 100%;
}

table.right-align-right-col td:last-child {
    text-align: right;
}


.postindex time.published {
    font-family: monospace;
    font-size: 1.1em;
}

li {
    padding-bottom: 16px;
}
