<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="../assets/xml/rss.xsl" media="all"?><rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:atom="http://www.w3.org/2005/Atom"><channel><title>Sirex web log (Posts about web)</title><link>https://sirex.lt/</link><description></description><atom:link href="https://sirex.lt/tags/web.xml" rel="self" type="application/rss+xml"></atom:link><language>en</language><copyright>Contents © 2020 &lt;a href="mailto:sirexas@gmail.com"&gt;Sirex&lt;/a&gt; </copyright><lastBuildDate>Mon, 02 Nov 2020 09:31:28 GMT</lastBuildDate><generator>Nikola (getnikola.com)</generator><docs>http://blogs.law.harvard.edu/tech/rss</docs><item><title>Hello ASGI</title><link>https://sirex.lt/posts/2018/hello-asgi/</link><dc:creator>Sirex</dc:creator><description>&lt;div&gt;&lt;p&gt;Python programming language has &lt;a class="reference external" href="https://www.python.org/dev/peps/pep-0333/"&gt;WSGI&lt;/a&gt; (Web Server Gateway Interface) standard,
where web servers can talk to apps using same standartized protocol. Simplest
WSGI application looks like this:&lt;/p&gt;
&lt;pre class="code python"&gt;&lt;a name="rest_code_307e6bd36f15499b9c3914ac8c17e178-1"&gt;&lt;/a&gt;&lt;span class="kn"&gt;import&lt;/span&gt; &lt;span class="nn"&gt;json&lt;/span&gt;
&lt;a name="rest_code_307e6bd36f15499b9c3914ac8c17e178-2"&gt;&lt;/a&gt;
&lt;a name="rest_code_307e6bd36f15499b9c3914ac8c17e178-3"&gt;&lt;/a&gt;&lt;span class="k"&gt;def&lt;/span&gt; &lt;span class="nf"&gt;wsgi&lt;/span&gt;&lt;span class="p"&gt;(&lt;/span&gt;&lt;span class="n"&gt;environ&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt; &lt;span class="n"&gt;start_response&lt;/span&gt;&lt;span class="p"&gt;):&lt;/span&gt;
&lt;a name="rest_code_307e6bd36f15499b9c3914ac8c17e178-4"&gt;&lt;/a&gt;    &lt;span class="n"&gt;start_response&lt;/span&gt;&lt;span class="p"&gt;(&lt;/span&gt;&lt;span class="s1"&gt;'200 OK'&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt; &lt;span class="p"&gt;[&lt;/span&gt;
&lt;a name="rest_code_307e6bd36f15499b9c3914ac8c17e178-5"&gt;&lt;/a&gt;        &lt;span class="p"&gt;(&lt;/span&gt;&lt;span class="s1"&gt;'Content-Type'&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt; &lt;span class="s1"&gt;'application/json'&lt;/span&gt;&lt;span class="p"&gt;),&lt;/span&gt;
&lt;a name="rest_code_307e6bd36f15499b9c3914ac8c17e178-6"&gt;&lt;/a&gt;    &lt;span class="p"&gt;])&lt;/span&gt;
&lt;a name="rest_code_307e6bd36f15499b9c3914ac8c17e178-7"&gt;&lt;/a&gt;    &lt;span class="k"&gt;yield&lt;/span&gt; &lt;span class="n"&gt;json&lt;/span&gt;&lt;span class="o"&gt;.&lt;/span&gt;&lt;span class="n"&gt;dumps&lt;/span&gt;&lt;span class="p"&gt;(&lt;/span&gt;&lt;span class="n"&gt;environ&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt; &lt;span class="n"&gt;default&lt;/span&gt;&lt;span class="o"&gt;=&lt;/span&gt;&lt;span class="nb"&gt;repr&lt;/span&gt;&lt;span class="p"&gt;)&lt;/span&gt;&lt;span class="o"&gt;.&lt;/span&gt;&lt;span class="n"&gt;encode&lt;/span&gt;&lt;span class="p"&gt;()&lt;/span&gt;
&lt;/pre&gt;&lt;p&gt;Response:&lt;/p&gt;
&lt;pre class="code json"&gt;&lt;a name="rest_code_dd24478f9f3242cabdde815dccf19144-1"&gt;&lt;/a&gt;&lt;span class="p"&gt;{&lt;/span&gt;
&lt;a name="rest_code_dd24478f9f3242cabdde815dccf19144-2"&gt;&lt;/a&gt;  &lt;span class="nt"&gt;"wsgi.errors"&lt;/span&gt;&lt;span class="p"&gt;:&lt;/span&gt; &lt;span class="s2"&gt;"&amp;lt;gunicorn.http.wsgi.WSGIErrorsWrapper object at 0x7fe381c1aef0&amp;gt;"&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt;
&lt;a name="rest_code_dd24478f9f3242cabdde815dccf19144-3"&gt;&lt;/a&gt;  &lt;span class="nt"&gt;"wsgi.version"&lt;/span&gt;&lt;span class="p"&gt;:&lt;/span&gt; &lt;span class="p"&gt;[&lt;/span&gt;&lt;span class="mi"&gt;1&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt; &lt;span class="mi"&gt;0&lt;/span&gt;&lt;span class="p"&gt;],&lt;/span&gt;
&lt;a name="rest_code_dd24478f9f3242cabdde815dccf19144-4"&gt;&lt;/a&gt;  &lt;span class="nt"&gt;"wsgi.multithread"&lt;/span&gt;&lt;span class="p"&gt;:&lt;/span&gt; &lt;span class="kc"&gt;false&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt;
&lt;a name="rest_code_dd24478f9f3242cabdde815dccf19144-5"&gt;&lt;/a&gt;  &lt;span class="nt"&gt;"wsgi.multiprocess"&lt;/span&gt;&lt;span class="p"&gt;:&lt;/span&gt; &lt;span class="kc"&gt;false&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt;
&lt;a name="rest_code_dd24478f9f3242cabdde815dccf19144-6"&gt;&lt;/a&gt;  &lt;span class="nt"&gt;"wsgi.run_once"&lt;/span&gt;&lt;span class="p"&gt;:&lt;/span&gt; &lt;span class="kc"&gt;false&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt;
&lt;a name="rest_code_dd24478f9f3242cabdde815dccf19144-7"&gt;&lt;/a&gt;  &lt;span class="nt"&gt;"wsgi.file_wrapper"&lt;/span&gt;&lt;span class="p"&gt;:&lt;/span&gt; &lt;span class="s2"&gt;"&amp;lt;class 'gunicorn.http.wsgi.FileWrapper'&amp;gt;"&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt;
&lt;a name="rest_code_dd24478f9f3242cabdde815dccf19144-8"&gt;&lt;/a&gt;  &lt;span class="nt"&gt;"SERVER_SOFTWARE"&lt;/span&gt;&lt;span class="p"&gt;:&lt;/span&gt; &lt;span class="s2"&gt;"gunicorn/19.7.1"&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt;
&lt;a name="rest_code_dd24478f9f3242cabdde815dccf19144-9"&gt;&lt;/a&gt;  &lt;span class="nt"&gt;"wsgi.input"&lt;/span&gt;&lt;span class="p"&gt;:&lt;/span&gt; &lt;span class="s2"&gt;"&amp;lt;gunicorn.http.body.Body object at 0x7fe381c1af60&amp;gt;"&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt;
&lt;a name="rest_code_dd24478f9f3242cabdde815dccf19144-10"&gt;&lt;/a&gt;  &lt;span class="nt"&gt;"gunicorn.socket"&lt;/span&gt;&lt;span class="p"&gt;:&lt;/span&gt; &lt;span class="s2"&gt;"&amp;lt;socket.socket fd=9, family=AddressFamily.AF_INET, type=SocketKind.SOCK_STREAM, proto=0, laddr=('127.0.0.1', 8000), raddr=('127.0.0.1', 59066)&amp;gt;"&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt;
&lt;a name="rest_code_dd24478f9f3242cabdde815dccf19144-11"&gt;&lt;/a&gt;  &lt;span class="nt"&gt;"REQUEST_METHOD"&lt;/span&gt;&lt;span class="p"&gt;:&lt;/span&gt; &lt;span class="s2"&gt;"GET"&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt;
&lt;a name="rest_code_dd24478f9f3242cabdde815dccf19144-12"&gt;&lt;/a&gt;  &lt;span class="nt"&gt;"QUERY_STRING"&lt;/span&gt;&lt;span class="p"&gt;:&lt;/span&gt; &lt;span class="s2"&gt;""&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt;
&lt;a name="rest_code_dd24478f9f3242cabdde815dccf19144-13"&gt;&lt;/a&gt;  &lt;span class="nt"&gt;"RAW_URI"&lt;/span&gt;&lt;span class="p"&gt;:&lt;/span&gt; &lt;span class="s2"&gt;"/"&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt;
&lt;a name="rest_code_dd24478f9f3242cabdde815dccf19144-14"&gt;&lt;/a&gt;  &lt;span class="nt"&gt;"SERVER_PROTOCOL"&lt;/span&gt;&lt;span class="p"&gt;:&lt;/span&gt; &lt;span class="s2"&gt;"HTTP/1.1"&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt;
&lt;a name="rest_code_dd24478f9f3242cabdde815dccf19144-15"&gt;&lt;/a&gt;  &lt;span class="nt"&gt;"HTTP_HOST"&lt;/span&gt;&lt;span class="p"&gt;:&lt;/span&gt; &lt;span class="s2"&gt;"localhost:8000"&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt;
&lt;a name="rest_code_dd24478f9f3242cabdde815dccf19144-16"&gt;&lt;/a&gt;  &lt;span class="nt"&gt;"HTTP_USER_AGENT"&lt;/span&gt;&lt;span class="p"&gt;:&lt;/span&gt; &lt;span class="s2"&gt;"curl/7.59.0"&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt;
&lt;a name="rest_code_dd24478f9f3242cabdde815dccf19144-17"&gt;&lt;/a&gt;  &lt;span class="nt"&gt;"HTTP_ACCEPT"&lt;/span&gt;&lt;span class="p"&gt;:&lt;/span&gt; &lt;span class="s2"&gt;"*/*"&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt;
&lt;a name="rest_code_dd24478f9f3242cabdde815dccf19144-18"&gt;&lt;/a&gt;  &lt;span class="nt"&gt;"HTTP_CONNECTION"&lt;/span&gt;&lt;span class="p"&gt;:&lt;/span&gt; &lt;span class="s2"&gt;"Upgrade, HTTP2-Settings"&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt;
&lt;a name="rest_code_dd24478f9f3242cabdde815dccf19144-19"&gt;&lt;/a&gt;  &lt;span class="nt"&gt;"HTTP_UPGRADE"&lt;/span&gt;&lt;span class="p"&gt;:&lt;/span&gt; &lt;span class="s2"&gt;"h2c"&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt;
&lt;a name="rest_code_dd24478f9f3242cabdde815dccf19144-20"&gt;&lt;/a&gt;  &lt;span class="nt"&gt;"HTTP_HTTP2_SETTINGS"&lt;/span&gt;&lt;span class="p"&gt;:&lt;/span&gt; &lt;span class="s2"&gt;"AAMAAABkAARAAAAAAAIAAAAA"&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt;
&lt;a name="rest_code_dd24478f9f3242cabdde815dccf19144-21"&gt;&lt;/a&gt;  &lt;span class="nt"&gt;"wsgi.url_scheme"&lt;/span&gt;&lt;span class="p"&gt;:&lt;/span&gt; &lt;span class="s2"&gt;"http"&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt;
&lt;a name="rest_code_dd24478f9f3242cabdde815dccf19144-22"&gt;&lt;/a&gt;  &lt;span class="nt"&gt;"REMOTE_ADDR"&lt;/span&gt;&lt;span class="p"&gt;:&lt;/span&gt; &lt;span class="s2"&gt;"127.0.0.1"&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt;
&lt;a name="rest_code_dd24478f9f3242cabdde815dccf19144-23"&gt;&lt;/a&gt;  &lt;span class="nt"&gt;"REMOTE_PORT"&lt;/span&gt;&lt;span class="p"&gt;:&lt;/span&gt; &lt;span class="s2"&gt;"59066"&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt;
&lt;a name="rest_code_dd24478f9f3242cabdde815dccf19144-24"&gt;&lt;/a&gt;  &lt;span class="nt"&gt;"SERVER_NAME"&lt;/span&gt;&lt;span class="p"&gt;:&lt;/span&gt; &lt;span class="s2"&gt;"127.0.0.1"&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt;
&lt;a name="rest_code_dd24478f9f3242cabdde815dccf19144-25"&gt;&lt;/a&gt;  &lt;span class="nt"&gt;"SERVER_PORT"&lt;/span&gt;&lt;span class="p"&gt;:&lt;/span&gt; &lt;span class="s2"&gt;"8000"&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt;
&lt;a name="rest_code_dd24478f9f3242cabdde815dccf19144-26"&gt;&lt;/a&gt;  &lt;span class="nt"&gt;"PATH_INFO"&lt;/span&gt;&lt;span class="p"&gt;:&lt;/span&gt; &lt;span class="s2"&gt;"/"&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt;
&lt;a name="rest_code_dd24478f9f3242cabdde815dccf19144-27"&gt;&lt;/a&gt;  &lt;span class="nt"&gt;"SCRIPT_NAME"&lt;/span&gt;&lt;span class="p"&gt;:&lt;/span&gt; &lt;span class="s2"&gt;""&lt;/span&gt;
&lt;a name="rest_code_dd24478f9f3242cabdde815dccf19144-28"&gt;&lt;/a&gt;&lt;span class="p"&gt;}&lt;/span&gt;
&lt;/pre&gt;&lt;p&gt;Now there is a new standard emerging, called &lt;a class="reference external" href="https://github.com/django/asgiref/blob/master/specs/asgi.rst"&gt;ASGI&lt;/a&gt; (Asynchronous Server Gateway
Interface). This new standard tries to fix WSGI limitations and provides more
flexible interface, that can support multiple protocols like HTTP, HTTP/2,
WebSockets and others. In addition ASGI provides possibility to use asyncio in
web apps. Simples ASGI application looks like this:&lt;/p&gt;
&lt;pre class="code python"&gt;&lt;a name="rest_code_34b4c6253c7b4257bc235b222e701b94-1"&gt;&lt;/a&gt;&lt;span class="kn"&gt;import&lt;/span&gt; &lt;span class="nn"&gt;json&lt;/span&gt;
&lt;a name="rest_code_34b4c6253c7b4257bc235b222e701b94-2"&gt;&lt;/a&gt;
&lt;a name="rest_code_34b4c6253c7b4257bc235b222e701b94-3"&gt;&lt;/a&gt;
&lt;a name="rest_code_34b4c6253c7b4257bc235b222e701b94-4"&gt;&lt;/a&gt;&lt;span class="k"&gt;def&lt;/span&gt; &lt;span class="nf"&gt;asgi&lt;/span&gt;&lt;span class="p"&gt;(&lt;/span&gt;&lt;span class="n"&gt;scope&lt;/span&gt;&lt;span class="p"&gt;):&lt;/span&gt;
&lt;a name="rest_code_34b4c6253c7b4257bc235b222e701b94-5"&gt;&lt;/a&gt;    &lt;span class="k"&gt;async&lt;/span&gt; &lt;span class="k"&gt;def&lt;/span&gt; &lt;span class="nf"&gt;chat&lt;/span&gt;&lt;span class="p"&gt;(&lt;/span&gt;&lt;span class="n"&gt;receive&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt; &lt;span class="n"&gt;send&lt;/span&gt;&lt;span class="p"&gt;):&lt;/span&gt;
&lt;a name="rest_code_34b4c6253c7b4257bc235b222e701b94-6"&gt;&lt;/a&gt;        &lt;span class="k"&gt;await&lt;/span&gt; &lt;span class="n"&gt;receive&lt;/span&gt;&lt;span class="p"&gt;()&lt;/span&gt;
&lt;a name="rest_code_34b4c6253c7b4257bc235b222e701b94-7"&gt;&lt;/a&gt;        &lt;span class="k"&gt;await&lt;/span&gt; &lt;span class="n"&gt;send&lt;/span&gt;&lt;span class="p"&gt;({&lt;/span&gt;
&lt;a name="rest_code_34b4c6253c7b4257bc235b222e701b94-8"&gt;&lt;/a&gt;            &lt;span class="s1"&gt;'type'&lt;/span&gt;&lt;span class="p"&gt;:&lt;/span&gt; &lt;span class="s1"&gt;'http.response.start'&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt;
&lt;a name="rest_code_34b4c6253c7b4257bc235b222e701b94-9"&gt;&lt;/a&gt;            &lt;span class="s1"&gt;'status'&lt;/span&gt;&lt;span class="p"&gt;:&lt;/span&gt; &lt;span class="mi"&gt;200&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt;
&lt;a name="rest_code_34b4c6253c7b4257bc235b222e701b94-10"&gt;&lt;/a&gt;            &lt;span class="s1"&gt;'headers'&lt;/span&gt;&lt;span class="p"&gt;:&lt;/span&gt; &lt;span class="p"&gt;[&lt;/span&gt;
&lt;a name="rest_code_34b4c6253c7b4257bc235b222e701b94-11"&gt;&lt;/a&gt;                &lt;span class="p"&gt;[&lt;/span&gt;&lt;span class="sa"&gt;b&lt;/span&gt;&lt;span class="s1"&gt;'Content-Type'&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt; &lt;span class="sa"&gt;b&lt;/span&gt;&lt;span class="s1"&gt;'application/json'&lt;/span&gt;&lt;span class="p"&gt;],&lt;/span&gt;
&lt;a name="rest_code_34b4c6253c7b4257bc235b222e701b94-12"&gt;&lt;/a&gt;            &lt;span class="p"&gt;],&lt;/span&gt;
&lt;a name="rest_code_34b4c6253c7b4257bc235b222e701b94-13"&gt;&lt;/a&gt;        &lt;span class="p"&gt;})&lt;/span&gt;
&lt;a name="rest_code_34b4c6253c7b4257bc235b222e701b94-14"&gt;&lt;/a&gt;        &lt;span class="k"&gt;await&lt;/span&gt; &lt;span class="n"&gt;send&lt;/span&gt;&lt;span class="p"&gt;({&lt;/span&gt;
&lt;a name="rest_code_34b4c6253c7b4257bc235b222e701b94-15"&gt;&lt;/a&gt;            &lt;span class="s1"&gt;'type'&lt;/span&gt;&lt;span class="p"&gt;:&lt;/span&gt; &lt;span class="s1"&gt;'http.response.body'&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt;
&lt;a name="rest_code_34b4c6253c7b4257bc235b222e701b94-16"&gt;&lt;/a&gt;            &lt;span class="s1"&gt;'body'&lt;/span&gt;&lt;span class="p"&gt;:&lt;/span&gt; &lt;span class="n"&gt;json&lt;/span&gt;&lt;span class="o"&gt;.&lt;/span&gt;&lt;span class="n"&gt;dumps&lt;/span&gt;&lt;span class="p"&gt;(&lt;/span&gt;&lt;span class="n"&gt;scope&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt; &lt;span class="n"&gt;default&lt;/span&gt;&lt;span class="o"&gt;=&lt;/span&gt;&lt;span class="nb"&gt;bytes&lt;/span&gt;&lt;span class="o"&gt;.&lt;/span&gt;&lt;span class="n"&gt;decode&lt;/span&gt;&lt;span class="p"&gt;)&lt;/span&gt;&lt;span class="o"&gt;.&lt;/span&gt;&lt;span class="n"&gt;encode&lt;/span&gt;&lt;span class="p"&gt;(),&lt;/span&gt;
&lt;a name="rest_code_34b4c6253c7b4257bc235b222e701b94-17"&gt;&lt;/a&gt;        &lt;span class="p"&gt;})&lt;/span&gt;
&lt;a name="rest_code_34b4c6253c7b4257bc235b222e701b94-18"&gt;&lt;/a&gt;        &lt;span class="k"&gt;await&lt;/span&gt; &lt;span class="n"&gt;send&lt;/span&gt;&lt;span class="p"&gt;({&lt;/span&gt;
&lt;a name="rest_code_34b4c6253c7b4257bc235b222e701b94-19"&gt;&lt;/a&gt;            &lt;span class="s1"&gt;'type'&lt;/span&gt;&lt;span class="p"&gt;:&lt;/span&gt; &lt;span class="s1"&gt;'http.disconnect'&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt;
&lt;a name="rest_code_34b4c6253c7b4257bc235b222e701b94-20"&gt;&lt;/a&gt;        &lt;span class="p"&gt;})&lt;/span&gt;
&lt;a name="rest_code_34b4c6253c7b4257bc235b222e701b94-21"&gt;&lt;/a&gt;    &lt;span class="k"&gt;return&lt;/span&gt; &lt;span class="n"&gt;chat&lt;/span&gt;
&lt;/pre&gt;&lt;p&gt;Response:&lt;/p&gt;
&lt;pre class="code json"&gt;&lt;a name="rest_code_a78202bd3aa64d35bf8b439a5ae15a2b-1"&gt;&lt;/a&gt;&lt;span class="p"&gt;{&lt;/span&gt;
&lt;a name="rest_code_a78202bd3aa64d35bf8b439a5ae15a2b-2"&gt;&lt;/a&gt;  &lt;span class="nt"&gt;"type"&lt;/span&gt;&lt;span class="p"&gt;:&lt;/span&gt; &lt;span class="s2"&gt;"http"&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt;
&lt;a name="rest_code_a78202bd3aa64d35bf8b439a5ae15a2b-3"&gt;&lt;/a&gt;  &lt;span class="nt"&gt;"http_version"&lt;/span&gt;&lt;span class="p"&gt;:&lt;/span&gt; &lt;span class="s2"&gt;"2"&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt;
&lt;a name="rest_code_a78202bd3aa64d35bf8b439a5ae15a2b-4"&gt;&lt;/a&gt;  &lt;span class="nt"&gt;"method"&lt;/span&gt;&lt;span class="p"&gt;:&lt;/span&gt; &lt;span class="s2"&gt;"GET"&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt;
&lt;a name="rest_code_a78202bd3aa64d35bf8b439a5ae15a2b-5"&gt;&lt;/a&gt;  &lt;span class="nt"&gt;"path"&lt;/span&gt;&lt;span class="p"&gt;:&lt;/span&gt; &lt;span class="s2"&gt;"/"&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt;
&lt;a name="rest_code_a78202bd3aa64d35bf8b439a5ae15a2b-6"&gt;&lt;/a&gt;  &lt;span class="nt"&gt;"root_path"&lt;/span&gt;&lt;span class="p"&gt;:&lt;/span&gt; &lt;span class="s2"&gt;""&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt;
&lt;a name="rest_code_a78202bd3aa64d35bf8b439a5ae15a2b-7"&gt;&lt;/a&gt;  &lt;span class="nt"&gt;"scheme"&lt;/span&gt;&lt;span class="p"&gt;:&lt;/span&gt; &lt;span class="s2"&gt;"https"&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt;
&lt;a name="rest_code_a78202bd3aa64d35bf8b439a5ae15a2b-8"&gt;&lt;/a&gt;  &lt;span class="nt"&gt;"query_string"&lt;/span&gt;&lt;span class="p"&gt;:&lt;/span&gt; &lt;span class="s2"&gt;""&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt;
&lt;a name="rest_code_a78202bd3aa64d35bf8b439a5ae15a2b-9"&gt;&lt;/a&gt;  &lt;span class="nt"&gt;"headers"&lt;/span&gt;&lt;span class="p"&gt;:&lt;/span&gt; &lt;span class="p"&gt;[&lt;/span&gt;
&lt;a name="rest_code_a78202bd3aa64d35bf8b439a5ae15a2b-10"&gt;&lt;/a&gt;    &lt;span class="p"&gt;[&lt;/span&gt;&lt;span class="s2"&gt;"host"&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt; &lt;span class="s2"&gt;"localhost:8000"&lt;/span&gt;&lt;span class="p"&gt;],&lt;/span&gt;
&lt;a name="rest_code_a78202bd3aa64d35bf8b439a5ae15a2b-11"&gt;&lt;/a&gt;    &lt;span class="p"&gt;[&lt;/span&gt;&lt;span class="s2"&gt;"user-agent"&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt; &lt;span class="s2"&gt;"curl/7.59.0"&lt;/span&gt;&lt;span class="p"&gt;],&lt;/span&gt;
&lt;a name="rest_code_a78202bd3aa64d35bf8b439a5ae15a2b-12"&gt;&lt;/a&gt;    &lt;span class="p"&gt;[&lt;/span&gt;&lt;span class="s2"&gt;"accept"&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt; &lt;span class="s2"&gt;"*/*"&lt;/span&gt;&lt;span class="p"&gt;]&lt;/span&gt;
&lt;a name="rest_code_a78202bd3aa64d35bf8b439a5ae15a2b-13"&gt;&lt;/a&gt;  &lt;span class="p"&gt;],&lt;/span&gt;
&lt;a name="rest_code_a78202bd3aa64d35bf8b439a5ae15a2b-14"&gt;&lt;/a&gt;  &lt;span class="nt"&gt;"client"&lt;/span&gt;&lt;span class="p"&gt;:&lt;/span&gt; &lt;span class="p"&gt;[&lt;/span&gt;&lt;span class="s2"&gt;"127.0.0.1"&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt; &lt;span class="mi"&gt;59012&lt;/span&gt;&lt;span class="p"&gt;],&lt;/span&gt;
&lt;a name="rest_code_a78202bd3aa64d35bf8b439a5ae15a2b-15"&gt;&lt;/a&gt;  &lt;span class="nt"&gt;"server"&lt;/span&gt;&lt;span class="p"&gt;:&lt;/span&gt; &lt;span class="p"&gt;[&lt;/span&gt;&lt;span class="s2"&gt;"127.0.0.1"&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt; &lt;span class="mi"&gt;8000&lt;/span&gt;&lt;span class="p"&gt;]&lt;/span&gt;
&lt;a name="rest_code_a78202bd3aa64d35bf8b439a5ae15a2b-16"&gt;&lt;/a&gt;&lt;span class="p"&gt;}&lt;/span&gt;
&lt;/pre&gt;&lt;p&gt;ASGI is a bit more complicated, but gives support for modern web protocols and
&lt;em&gt;asyncio&lt;/em&gt;.&lt;/p&gt;&lt;/div&gt;</description><category>asgi</category><category>python</category><category>web</category><guid>https://sirex.lt/posts/2018/hello-asgi/</guid><pubDate>Thu, 29 Mar 2018 21:00:00 GMT</pubDate></item></channel></rss>